.evento-tarjeta {
  box-shadow: 6px 6px 10px 0 #000000e3;
}

.name-day {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 0.2em;
}
.day-month {
  color: rgb(12, 53, 114);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.imagen-evento {
  pointer-events: none;
  max-width: 300px;
  height: 419px;
}
