#contenedor-uno-event {
  background: rgb(149, 212, 203);
  background: linear-gradient(
    155deg,
    rgba(149, 212, 203, 1) 0%,
    rgba(213, 255, 249, 1) 45%
  );
}

#name-event {
  margin-bottom: 1em;
  font-family: "Montserrat";
  font-size: 2rem;
  color: #008cba;
}

#date-event {
  margin-right: 26px;
  display: inline;
  font-family: "VarelaRound";
  font-size: 0.8rem;
}

#open-event {
  margin-right: 26px;
  display: inline;
  font-family: "VarelaRound";
  font-size: 0.8rem;
}

#close-event {
  margin-right: 26px;
  display: inline;
  font-family: "VarelaRound";
  font-size: 0.8rem;
}

#price-door {
  margin-right: 26px;
  display: inline;
  font-family: "VarelaRound";
  font-size: 0.8rem;
}

#advance-door {
  margin-right: 26px;
  display: inline;
  font-family: "VarelaRound";
  font-size: 0.8rem;
}

#genres-event {
  margin-right: 26px;
  display: inline;
  font-family: "VarelaRound";
  font-size: 0.8rem;
}

#buy-evento {
  margin-top: 2em;
}

#description-event {
  margin-top: 2em;
  font-family: "VarelaRound";
  font-size: 1rem;
}

#contenedor-dos-event {
  background: #d5fff9;
}

#lineup-titulo-event {
  font-family: "Montserrat";
  font-size: 2rem;
}

#lineup-contenido-event {
  margin-top: 2em;
  font-family: "VarelaRound";
  font-size: 1rem;
}
