#footer {
  background-color: black;
}

.col-md-3 {
  margin-top: 1.5em;
}

h5 {
  font-family: "VarelaRound";
  color: white;
  text-transform: uppercase;
}

#footer p {
  font-family: "VarelaRound";
  color: #c6a8a8;
}
