#dottedbox {
  background-image: url(../../images/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#overlay {
  background: #1c1d2185;
}

#story-hero {
  font-family: 'VarelaRound';
}

#btn-about {
  font-family: 'VarelaRound';
}

#event-main-title {
  font-family: 'Montserrat', cursive;
  font-size: 3em;
}

#store-section-title {
  font-family: 'Montserrat', cursive;
  font-weight: normal;
  font-size: 3em;
}

#store-section-subtitle {
  font-family: 'VarelaRound';
  font-weight: normal;
  font-size: 2em;
}

#btn-to-store {
  font-family: 'VarelaRound';
}
