#contenedor-detail-music {
  background: rgb(149, 212, 203);
  background: linear-gradient(
    135deg,
    rgba(149, 212, 203, 1) 0%,
    rgba(213, 255, 249, 1) 45%
  );
}

#release-details {
  font-family: 'Montserrat';
  font-size: 1rem;
}

#artist-name {
  font-family: 'Montserrat';
  font-size: 2rem;
  color: #008cba;
}

#album-name {
  font-family: 'Montserrat';
  font-size: 1.2rem;
}

.datos {
  font-family: 'VarelaRound';
  font-size: 0.8rem;
}

.title-music {
  font-family: 'Montserrat';
  font-size: 1rem;
}

.contenido {
  font-family: 'VarelaRound';
}
