.musica-tarjeta {
  box-shadow: 3px 6px 10px 0px #000;
}

.imagen-musica-tarjeta {
  pointer-events: none;
}

.musica-tarjeta .footer-musica-tarjeta .nombre-artista-tarjeta {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.159em;
  font-weight: bold;
  font-size: 1em;
  text-align: initial;
  text-transform: uppercase;
}

.musica-tarjeta .footer-musica-tarjeta .nombre-album-tarjeta {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.087em;
  font-size: 0.8em;
  text-align: initial;
  text-transform: uppercase;
  overflow-y: hidden;
}
