#artist-name {
  font-family: "Montserrat";
  font-size: 2rem;
  color: #008cba;
  display: inline;
}

#album-name {
  font-family: "Montserrat";
  font-size: 1.2rem;
  display: block;
}

#release-details {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-family: "Montserrat";
  font-size: 1rem;
}

#catalog {
  margin-right: 26px;
  display: inline;
  font-family: "VarelaRound";
  font-size: 0.8rem;
}

#release-date {
  margin-right: 26px;
  display: inline;
  font-family: "VarelaRound";
  font-size: 0.8rem;
}

#series {
  margin-right: 26px;
  display: inline;
  font-family: "VarelaRound";
  font-size: 0.8rem;
}

#style {
  margin-right: 26px;
  display: inline;
  font-family: "VarelaRound";
  font-size: 0.8rem;
}

#audio {
  margin-right: 26px;
  display: inline;
  font-family: "VarelaRound";
  font-size: 0.8rem;
}

#price {
  margin-right: 26px;
  display: inline;
  font-family: "VarelaRound";
  font-size: 0.8rem;
}

#description-title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: "Montserrat";
  font-size: 1rem;
}

#description-content {
  font-family: "VarelaRound";
  margin-top: "2em";
}

#tracklist-title {
  font-family: "Montserrat";
  font-size: 1rem;
}

#tracklist-content {
  font-family: "VarelaRound";
  margin-top: 2em;
}
