#barra-de-navegacion {
  background-color: #000;
  box-shadow: 0px 4px 18px 0px #000;
}

.nav-link {
  outline: none;
}

#barra-de-navegacion .nav-link:not(#btn-logged-user) {
  font-family: 'VarelaRound';
  color: white;
}

#barra-de-navegacion .nav-link:not(#btn-logged-user):hover {
  color: #aaa590;
}

#btn-sign-up {
  font-family: 'VarelaRound';
  color: #fff;
  background-color: #000;
  border: 3px solid;
  border-color: #fff;
  margin: 1px 1em 1px 1em;
}

#btn-sign-up:hover {
  border-color: #47ffcb;
}

#btn-login {
  font-family: 'VarelaRound';
  color: #000;
  background-color: #fff;
  border: 3px solid;
  border-color: #fffefe;
  margin: 1px 1em 1px 1em;
}

#btn-login:hover {
  background-color: #ffccaa;
  border-color: #ffccaa;
}

#btn-logged-user {
  font-family: 'VarelaRound';
  color: #000;
  background-color: #fff;
  border: 3px solid;
  border-color: #fffefe;
  border-radius: 0.25rem;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 1px 1em 1px 1em;
}

#btn-logged-user::after {
  content: none;
}

#btn-logged-user:hover {
  background-color: #fffebc;
  border-color: #fffebc;
}
